body{
    font-family: 'helvetica neue','hiragino sans gb','ST HeiTi','microsoft yahei','\5FAE\8F6F\96C5\9ED1',tahoma,sans-serif;
    font-size: 12px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
li{
    list-style-type: none;
}
